<div class="container">
  <h1> {{ title }} </h1>

  <div class="row">
    <h2> Directives </h2>

    <div>

      <label>
        Credit Card Number
        <input 
          name="credit-card" 
          type="text"
          placeholder="Enter your 16-digit card number"
          credit-card>
      </label>

        <label
          tooltip
          [tooltip]="'3 digits, back of your card'"
          #tooltipRef="tooltip">
          Enter your security code 
        <span
          (mouseover)="tooltipRef.show(tooltipRef)"
          (mouseout)="tooltipRef.hide()">
          (?)
        </span>
        <input type="text">
        </label>
        
    </div>
    
  </div>
  <hr>

  <div class="row">
    <h2> Reactives forms </h2>
  </div>
</div>
