﻿<h1> {{ title }} </h1>
<div class="container">
    <div class="row">
        <h3> Liste des utilisateurs </h3>
        <div *ngIf="usersLoading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

        <div *ngIf="!usersLoading">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Website</th>
                            <th> Details </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | async">
                            <td> {{ user.name }}</td>
                            <td> {{ user.email }}</td>
                            <td>
                                <a href="http://www.{{ user.website }}" title="http://www.{{ user.website }}">{{ user.website }} </a>
                            </td>
                            <td>
                                <a [routerLink]="['./', user.id]" title="view details">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>