<div class="container">

  <div class="row">
    <h2> {{ title }} </h2>
  </div>


  <!-- <div class="row stock-inventory">
    <form 
      formGroup
      [formGroup]="stockInventoryForm"
      (ngSubmit)="OnSubmit()"
      novalidate>

     <div class="row col-lg-6 col-md-6 col-xs-6">
      
      <oo-stock-branch
        [parent]="stockInventoryForm">
      </oo-stock-branch>
       
      <oo-stock-selector
        [parent]="stockInventoryForm"
        [products]="products"
        (add)="addStock($event)">
      </oo-stock-selector>

      <oo-stock-products
        [parent]="stockInventoryForm"
      >
      </oo-stock-products>

      <div class="row col-lg-6 col-md-6 col-xs-6">
        <button type="submit" 
          class="btn btn-primary"
          [disabled]="stockInventoryForm.invalid"> Order </button>
     </div>

      </div>

      <pre>
        {{ stockInventoryForm.value | json }}
      </pre>
    </form>
  </div> -->

  <hr>

  <div class="row col-xs-6 col-md-6 col-lg-6">
    <h3> Models-Driven form </h3>
    <hr>

    <div class="row">
      <form
        formGroup
        [formGroup]="employeeForm"
        (ngSubmit)="OnSubmit()">
        
        <oo-employee-form
          [parent]="employeeForm">
        </oo-employee-form>

        <oo-address-form
          [parent]="employeeForm">
        </oo-address-form>
        <button
          type="submit"
          class="btn btn-success"> SignUp </button>

        <div>
          <pre>
            {{ employeeForm.value | json }}
          </pre>
        </div>
      </form>
    </div>
  </div>

</div>