<div class="container">

    <div *ngIf="userLoading">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>

    <div *ngIf="!userLoading">
        <oo-user-form 
            [detail]="user"
            (edit)="OnEdit($event)"
            (back)="backButton()"></oo-user-form>
    </div>
   
</div>