<div 
  formGroup
  [formGroup]="parent">

  <div 
    id="selector" 
    class="form-group" 
    formGroupName="selector">

    <div class="row">
    <select 
      name="productId" 
      id="productId"
      class="form-control"
      formControlName="product_id">
        <option value=""> --- Select a product --- </option>
      <option
        *ngFor="let product of products" 
        [value]="product.id"> {{ product.name }}</option>
    </select>
    <input 
        type="number" 
        id="quantity" 
        class="form-control" 
        min="10"
        step="10"
        max="1000"
        formControlName="quantity">
    
    <button 
      type="button" 
      class="btn btn-primary"
      (click)="OnAdd()">Add Stock </button>
  </div>
  </div>
</div>