<div 
  class="row" 
  formGroup
  [formGroup]="parent">
  
  <div 
    id="employee-form-group"
    formGroupName="employee">
          
          <fieldset>
          <legend> Personal Information </legend>

          <div class="form-group">
            <label for="firstname">Firstname: </label>
            <input 
              type="text" 
              class="form-control" 
              name="firstname" 
              id="firstname"
              formControlName="firstName">
            <div 
              *ngIf="hasError('firstName')"
              class="row bg bg-danger">
              Firstname is required!
            </div>
            <div 
              *ngIf="hasError('firstName')"
              class="row bg bg-danger">
              The minimum required length is {{ requiredLength('employee', 'firstName') }}!
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">Lastname: </label>
            <input 
              type="text" 
              class="form-control" 
              name="lastname" 
              id="lastname"
              formControlName="lastName">
          </div>
          </fieldset>
        </div>  

</div>