 <div 
  class="row"
  formGroup
  [formGroup]="parentForm">
 <div 
    id="address-form-group"
    formGroupName="address">
        <fieldset>
          <legend> Address </legend>
      
          <div class="form-group">
            <label for="address">Address : </label>
            <input 
              type="text" 
              class="form-control" 
              id="address"
              name="address"
              formControlName="address" />
          </div>
          
          <div class="form-group">
            <label for="zipcode">ZipCode : </label>
            <input 
              type="text" 
              class="form-control" 
              id="zipcode" 
              name="zipcode" 
              formControlName="zipcode" />
          </div>
          
          <div class="form-group">
            <label for="city">City : </label>
            <input
              type="text" 
              class="form-control" 
              id="city" 
              name="city"
              formControlName="city">
          </div>
        
          <div class="form-group">
            <label for="state">State : </label>
            <input 
              type="text" 
              class="form-control" 
              id="state" 
              name="state"
              formControlName="state">
          </div>
          </fieldset>
        </div>
</div>