<div 
  formGroup
  [formGroup]="parent">

  <div 
    id="stock" 
    class="form-group" 
    formArrayName="stock">

    <div 
      *ngFor="let item of stocks; let idx = index;"
      class="row">
      
      <div [formGroupName]="idx">
        <div>
          {{ item.value.product_id }}
        </div>
        <input 
          type="number"
          min="10"
          step="10"
          max="1000"
          formControlName="quantity">

          <button 
            type="button" 
            class="btn btn-primary"> Remove </button>
      </div>
   
  </div>
  </div>
</div>