<div 
  formGroup
  [formGroup]="parent">

  <div 
    id="store" 
    class="form-group" 
    formGroupName="store">

    <div class="form-group">
      <label for="branch">Branch:</label>
      <input 
        type="text" 
        id="branch" 
        class="form-control" 
        placeholder="Branch ID" 
        formControlName="branch">
    </div>

    <div class="form-group">
      <label for="code">Code:</label>
      <input 
        type="text" 
        id="code" 
        class="form-control" 
        placeholder="Manager Code" 
        formControlName="code">
    </div>
  </div>

</div>