<div class="container">
    <div class="col-md-6">
        <h3> Todos List </h3>
        <p> {{ todos?.length }} items in the list </p>

        <div *ngIf="todosLoading">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </div>

        <div *ngIf="!todosLoading">
            <div class="list-group">
                <a *ngFor="let todo of todos" class="list-group-item" [routerLink]="[todo.id]">
                    {{ todo.title }}
            </a>
            </div>
        </div>
    </div>
</div>