<!-- Liste des photos -->
<h1> {{ title }} </h1>
<div class="container">
    <h3> {{ (photos | async)?.length }} photos available </h3>
    <div *ngIf="photosLoading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div class="row">
        <div *ngFor="let photo of ( photos | async )" class="col-xs-4 col-md-3">

            <div class="thumbnail">
                <a [href]="photo.url">
                    <img 
                        [src]="photo.thumbnailUrl" 
                        [alt]="photo.title"
                        class="img-responsive img-thumbnail"
                        [ngStyle]="{'width': '100%'}" />

                    <div class="caption">
                        <p> {{ photo.title }} </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>