<nav class="navbar navbar-inverse">
  <div class="container">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">One Outs Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li
          *ngFor="let item of navs"
          routerLinkActive="active">

          <a [routerLink]="item.link">
            {{ item.label }}
            <span class="sr-only" *ngIf="item.link === 'users'">(current)</span>
          </a>
        </li>

        <li class="dropdown">
          <a 
            href="#" 
            class="dropdown-toggle" 
            data-toggle="dropdown" 
            role="button" 
            aria-haspopup="true" 
            aria-expanded="false"> Angular Advanced 
            
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li
              *ngFor="let dropdownNav of dropdownNavs"
              routerLinkActive="active">
              <a [routerLink]="['angular-advanced', dropdownNav.link]"> {{ dropdownNav.label }} </a>
            </li>
          </ul>
        </li>


      </ul>
    </div><!-- /.navbar-collapse -->
  
  </div><!-- /.container -->
</nav>