<form 
  #f="ngForm" 
  (ngSubmit)="OnSubmitForm(f.value, f.valid)"
  novalidate >

  <h1> Details of {{ detail.name }} </h1>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-success">

        <div class="panel-heading">
          <div class="panel-title" *ngIf="modeEdit">
            ID : <input 
              type="text"
              class="form-control"
              required
              ngModel
              name="userid" 
              #userid="ngModel" 
              [ngModel]="detail?.id" />

            Name : <input 
              type="text"
              class="form-control"
              required
              ngModel
              name="username" 
              #username="ngModel" 
              [ngModel]="detail?.name" />
            
            <div 
                *ngIf="username.dirty && userid.errors?.required"
                class="bg bg-danger">
                ID is required.
            </div>

            <div *ngIf="username.dirty && username.errors">
              <div *ngIf="username.errors.required"
                    class="bg bg-danger">
                Name is required.
              </div>
            </div>
            
          </div>

          <h3 class="panel-title" *ngIf="!modeEdit"> {{ detail?.name }} </h3>
        </div>

        <div class="panel-body">

          <div *ngIf="modeEdit">
            Email: <input 
                      type="text" 
                      name="email"
                      class="form-control" 
                      required
                      ngModel 
                      #email="ngModel" 
                      [ngModel]="detail.email" >

            <div 
                *ngIf="email.dirty && email.errors?.required"
                class="bg bg-danger">
                Email is required.
            </div>
          </div>

          <p *ngIf="!modeEdit"> Email: {{ detail.email }} </p>

          <p> Address : {{ detail.address.street }}, {{ detail.address.zipcode }} {{ detail.address.city}} </p>

          <div *ngIf="modeEdit">
            Phone: <input 
                      type="text"
                      class="form-control"
                      ngModel 
                      name="phone" 
                      #phone="ngModel" 
                      [ngModel]="detail.phone" >
          </div>
        
          <p *ngIf="!modeEdit"> Phone: {{ detail.phone }} </p>

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title" *ngIf="modeEdit">
                Company: <input 
                            type="text"
                            class="form-control"
                            required
                            ngModel 
                            name="companyName" 
                            #company="ngModel" 
                            [ngModel]="detail.company.name" >
                
              <div 
                  *ngIf="company.dirty && company.errors?.required"
                  class="bg bg-danger">
                Company name is required.
              </div>
              </div>
              
              <h5 class="panel-title" *ngIf="!modeEdit"> Company: {{ detail.company.name }} </h5>
            </div>
            <div class="panel-body">
              <p> Slogan: {{ detail.company.slogan }} </p>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <h3 class="panel-title">
            Lat: {{ detail.address.geo.lat }} - Lng : {{ detail.address.geo.long }}
          </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <button type="text" class="btn btn-primary" (click)="OnBack()"> Back </button>
    
    <button
        *ngIf="!modeEdit" 
        type="button"
        class="btn btn-primary"
        (click)="toggleEdit()">
      Edit
    </button>
    
    <button 
        *ngIf="modeEdit" 
        type="submit"
        class="btn btn-success"
        [disabled]="f.invalid" >
     Done
    </button>
   
  </div>
</form>
