<h1> {{ title }} </h1>
<div class="container">

  <div class="col-md-6">
    <select #u class="form-control" (change)="reloadTodosList({userId: u.value})" 
       [ngStyle]="{'margin-bottom': '15px'}">

            <option value="">Select a user </option>
            <option *ngFor="let user of users$ | async"
                    value="{{user.id}}"> {{ user.name }} </option>
        </select>
    
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a data-toggle="tab" [routerLink]="['./']" fragment="remaining"> Remaining Tasks </a>
      </li>
      <li>
        <a data-toggle="tab" [routerLink]="['./']" fragment="done"> Tasks done </a>
      </li>
    </ul>

    <div class="tab-content">

      <div id="remaining" class="tab-pane fade in active">
        <oo-todos [todos]="tasksUndone" [users]="users$"></oo-todos>
      </div>

      <div id="done" class="tab-pane fade">
        <oo-todos [todos]="tasksDone" [users]="users$"></oo-todos>
      </div>

    </div>
  </div>
</div>