/* You can add global styles to this file, and also import other style files */
/*
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: 300 15px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  color: #545e6f;
}

img {
  vertical-align: bottom;
}
img a {
  border: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #9f72e6;
  text-decoration: none;
}
input,
button {
  outline: 0;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  border: none;
  background: #fff;
  font-size: 13px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #ccc;
}
label {
  display: block;
}
button {
  cursor: pointer;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background: #b598e4;
}
p {
  margin: 5px 0;
}

body {
  padding: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
oo-root {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #dce5f2;
  box-shadow: 0 1px 4px rgba(53,60,72,0.1);
  padding: 20px 30px;
}
oo-root > div {
  display: flex;
}
form {
  flex: 1 0;
  padding: 0 40px;
}
input[type="text"] {
  display: block;
  border: none;
  background: #ffffff;
  font-size: 15px;
  padding: 6px 30px 6px 10px;
  border-radius: 1px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  width: 260px;
}
label {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
}*/