<h1> {{ title }} </h1>

<div class="container">
    <h3> Liste des albums </h3>

    <select #u class="form-control" (change)="reloadAlbums({userId: u.value})">

            <option value="">Select a user </option>
            <option *ngFor="let user of users | async"
                    value="{{user.id}}"> {{ user.name }} </option>
        </select>

    <div *ngIf="albumsLoading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>

    <div *ngIf="!albumsLoading">
        <div class="list-group">
            <a *ngFor="let album of albums | async" class="list-group-item" [routerLink]="[album.id]">
                    <span class="badge">50</span>
                    {{ album.title }}
            </a>
        </div>
    </div>
</div>