<h1> {{ title }} </h1>

<div class="container">
  <div class="jumbotron">
    <h1>Angular Tutorial</h1> 
    <p>One Outs Project is an Angular project to get familiar with Angular concepts.</p> 
  </div>
</div>
